name: privacy-enabled-agents

services:
  valkey:
    image: valkey/valkey:9-alpine@sha256:b4ee67d73e00393e712accc72cfd7003b87d0fcd63f0eba798b23251bfc9c394
    ports:
      - "6379:6379"
    volumes:
      - ./valkey-data:/data:rw
    command: [ "--appendonly", "yes" ] # Enable data persistence
    restart: on-failure
    healthcheck:
      test: [ "CMD", "valkey-cli", "ping" ]
      interval: 5s
      timeout: 5s
      retries: 5
    environment:
      - VALKEY_SAVE=60 1 # Save DB every 60 seconds if at least 1 change
    labels:
      - "com.privacy-enabled-agents.description=Valkey storage backend"
    networks:
      pea-network:
        aliases:
          - valkey.pea

  redis:
    image: redis:8-alpine@sha256:59b6e694653476de2c992937ebe1c64182af4728e54bb49e9b7a6c26614d8933
    ports:
      - "6380:6379"
    restart: on-failure
    labels:
      - "com.privacy-enabled-agents.description=Redis checkpointer backend"
    networks:
      pea-network:
        aliases:
          - redis.pea

  gliner-api:
    image: ghcr.io/freinold/gliner-api:latest@sha256:dc00a437c096adfe8e679a5f5c658febb9f673f063f63957542b1c27a8e1d5c9
    ports:
      - "8081:8080" # API and Gradio frontend
      - "9091:9090" # Metrics endpoint
    stdin_open: true
    tty: true
    volumes:
      - "${HOME}/.cache/huggingface:/app/huggingface:rw"
      # - "./gliner-api-configs/quantized_no-entities.yaml:/app/config.yaml:ro"
    environment:
      - GLINER_API_MODEL_ID=knowledgator/gliner-x-large
      - GLINER_API_ONNX_ENABLED=True
      - GLINER_API_ONNX_MODEL_PATH=onnx/model_quantized.onnx
      - GLINER_API_DEFAULT_THRESHOLD=0.7
      - GLINER_API_DEFAULT_ENTITIES=[]
    networks:
      pea-network:
        aliases:
          - gliner-api.pea

  gliner-wait:
    image: alpine:latest@sha256:4b7ce07002c69e8f3d704a9c5d6fd3053be500b7f1c69fc0d80990c2ad8dd412
    command: ["sleep", "60"]
    depends_on:
      - gliner-api
    networks:
      - pea-network

  privacy-enabled-agents:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    stdin_open: true
    tty: true
    env_file:
      - .env
    environment:
      - PEA_GLINER_API_URL=http://gliner-api.pea:8080
      - PEA_REDIS_URL=redis://redis.pea:6379
      - PEA_VALKEY_HOST=valkey.pea
      - PEA_VALKEY_PORT=6379
      - PEA_PUBLIC_FRONTEND=true
    depends_on:
      # gliner-wait:
      #   condition: service_completed_successfully
      valkey:
        condition: service_healthy
      redis:
        condition: service_started
    networks:
      pea-network:
        aliases:
          - privacy-enabled-agents.pea

networks:
  pea-network:
    driver: bridge

volumes:
  valkey-data:
    driver: local
